/typings
/dist
src/**/*.js.map
src/**/*.d.ts
src/**/*.js
runtime/*.js
index.js.map
index.d.ts
index.js
#################
## Misc
#################
**/.DS_Store
nbproject
manifest.mf
build.xml
node_modules/*
npm-debug.log
coverage
dist/img-cropper-test-app.d.ts
dist/img-cropper-test-app.js
dist/img-cropper-test-app.js.map
!karma.conf.js
!karma-test-shim.js
!make.js
!bundles/*.js

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Mac
############

# Mac crap
.DS_Store