.ng2-imgcrop canvas {
    margin-bottom: 10px;
}

.ng2-imgcrop input {
    display: block;
    margin-bottom: 10px;
}

.custom-class {
    border: 1px solid #C1C1C1;
}

.cropping {

    border: 1px solid #000000;
}

body{

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}
